<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div th:fragment="nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-success" href="/">E-leaf</a>
    <form action="#" th:action="@{/logout}" method="POST">
      <input class="btn btn-outline-success" type="submit" value="Logout"/>
    </form>
    <p>
    <p>Jesteś zalogowany jako: <span th:text="${username}"></span></p>
  </nav>
</div>
<body>
  <h1 class="welcome-h1">Spring E-commerce Website</h1>
  <p class="welcome-text">
    Welcome to E Leaf – Your go-to online destination for top-quality products!<br>
    Browse our extensive collections, manage your orders, and discover the latest deals.<br>Our user-friendly platform
    provides full access to detailed product information.<br>Just a few clicks are all it takes to add new products, remove<br>
    discontinued ones, and manage the complete store inventory.<br>
  </p>
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary" th:href="@{/products}">Products</a>
  </div>
</body>
</html>